.container-header {
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 50px;
  margin: 10px;
}
.container-header h1 {
  font-family: 'Bungee Shade', sans-serif;
  font-size: 50px;
  color: white;
  padding-bottom: 10px;
}
