.container-header {
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 30px;
  margin: 5px;
}
.container-header h1 {
  font-family: 'Bungee Shade', sans-serif;
  font-size: 50px;
  color: white;
  padding-bottom: 10px;
}
.settings-btn {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rga(192, 192, 192);
}
