.joke-card {
  background-color: rgba(0,0,0,0.2);
  color: white;
  font-family: sans-serif;
  padding: 15px;
  margin: 8px;
  display: flex;
  flex-grow: 1;
  max-width: 28%;
  position: relative;
}
