.num-input, .name-input {
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  text-align: center;
}

.num-input {
  margin-top: 30px;
  width: 30px;
  height: 36px;
}
.name-input {
  margin: 5px;
  height: 27px;
  width: 200px;
}
